{% extends "layout.html" %}

{% block content %}
  <div class="row">
    
    <div class="large-12 columns" role="content">

      <article>
        
        <div class="row">
          
          <div class="large-6 columns">
            
            <h2>{{ post.meta.title }}</h2>
            
            <h5>Written by <a href="#">{{post.meta.author}}</a> on {{post.meta.date}}</h5>
           
            <p><span class="tags-label">Tags</span>:
              {% for tag in post.meta.tags %}
              <a href="/tags/{{tag}}">{{tag}}</a>,
              {% endfor %}
            </p>

            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=benreed"></script>
            
            <div class="addthis_sharing_toolbox"></div>
              
          </div>
          <div class="large-6 columns">
            <img class="article-feature" src="{{post.meta.featureImage}}"/>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <hr />
            {{ post.html|safe }}
          </div>
        </div>
 
      </article>
    
    <div class="row">
      <div class="large-12 columns">
        <div id="disqus_thread"></div>    
      </div> 
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div> 
 
  </div>
{% endblock %}