  

    <!-- <div class="row">
      <div class="large-8 columns">
        <h4>About</h4>
        <p>Quadrant Kitchen is a food blog and recipe site by me, Ben Reed.</p>

        <p>It came about initially as a Tumblr blog to share recipes with friends and family, however as I am a web developer by day and Tumblr wasn&#39;t quite as flexible as I would have liked, I built this new site from the ground up.</p>

        <p>I will mainly be posting recipes but as the site grows I hope to post more such as locations of farm shops, markets and festivals I have come across on my travels.</p>

        <p>It&#39;s also an excuse for me to play with my camera and practice my food photography!<p>

        <hr />
        <div class="fb-like-box" data-href="https://www.facebook.com/quadrantkitchen" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        
      
      </div>
      <div class="large-4 columns">
        <h4>From Twitter...</h4>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/quadrantkitchen" data-widget-id="487573678649913345">Tweets by @quadrantkitchen</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div> -->

    