@import url(http://fonts.googleapis.com/css?family=Glegoo|Condiment|Pathway+Gothic+One|Nothing+You+Could+Do);
/* line 20, ../scss/main.scss */
html {
  background-color: #000;
}

/* line 24, ../scss/main.scss */
.row {
  max-width: 100% !important;
}

/* line 28, ../scss/main.scss */
span.tags-label {
  font-family: 'Nothing You Could Do', cursive;
}

/* line 32, ../scss/main.scss */
body {
  font-family: 'Glegoo', serif;
  color: #d6d6d6;
  height: 100%;
}
/* line 37, ../scss/main.scss */
body p, body li {
  font-size: 14px;
}
/* line 41, ../scss/main.scss */
body a {
  color: #d6d6d6;
}
/* line 46, ../scss/main.scss */
body article a, body .tags a {
  color: #008cba;
  text-decoration: underline;
}

/* line 54, ../scss/main.scss */
#main-menu a.item label {
  color: #fff;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}

/* line 62, ../scss/main.scss */
.sidebar.columns,
#content #grid .columns {
  padding-left: 0;
  padding-right: 10px;
  height: 100%;
}

/* line 76, ../scss/main.scss */
#content {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 80, ../scss/main.scss */
#sidebar {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
/* line 84, ../scss/main.scss */
#sidebar .columns {
  padding-right: 0;
  padding-left: 0;
}
/* line 89, ../scss/main.scss */
#sidebar hr {
  border-color: #999999;
}
/* line 93, ../scss/main.scss */
#sidebar #main-menu {
  margin-bottom: 10px;
}
/* line 95, ../scss/main.scss */
#sidebar #main-menu .item {
  text-align: center;
}
/* line 99, ../scss/main.scss */
#sidebar #main-menu i {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}
/* line 107, ../scss/main.scss */
#sidebar #social a {
  font-size: 40px;
  display: block;
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

/* line 118, ../scss/main.scss */
#hero {
  min-height: 100%;
  background: url("../img/bw_background.jpg") no-repeat center center fixed;
  background-color: #000;
  background-size: cover;
}
/* line 123, ../scss/main.scss */
#hero img#logo {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 129, ../scss/main.scss */
#grid {
  margin-top: 50px;
}

/* line 133, ../scss/main.scss */
.grid-item {
  min-height: 300px;
  margin-bottom: 10px;
  min-width: 100%;
}
/* line 141, ../scss/main.scss */
.grid-item img {
  min-width: 100%;
  min-height: 250px;
  margin-top: 10px;
}
/* line 147, ../scss/main.scss */
.grid-item h3 {
  margin-bottom: 0px;
}
/* line 149, ../scss/main.scss */
.grid-item h3 a {
  color: white;
}
/* line 154, ../scss/main.scss */
.grid-item p {
  padding: 0 0 20px;
}
/* line 158, ../scss/main.scss */
.grid-item .date {
  padding: 10px 0 0 0px;
}
/* line 162, ../scss/main.scss */
.grid-item .tags {
  padding: 10px 0 10px 0;
  color: white;
}
/* line 167, ../scss/main.scss */
.grid-item hr {
  margin: 0;
  padding: 0;
  border-color: #3d3d3d;
}

/* line 174, ../scss/main.scss */
article {
  margin-top: 20px;
}
/* line 178, ../scss/main.scss */
article h2 {
  color: white;
}
/* line 182, ../scss/main.scss */
article h3 {
  font-family: 'Nothing You Could Do', cursive;
  color: white;
}
/* line 187, ../scss/main.scss */
article span.tags-label {
  font-family: 'Nothing You Could Do', cursive;
}
/* line 191, ../scss/main.scss */
article .article-feature {
  width: 100%;
}

/* line 196, ../scss/main.scss */
h3.article-body {
  font-family: 'Nothing You Could Do', cursive;
  color: white;
}

/* line 201, ../scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #d6d6d6;
}

/* line 206, ../scss/main.scss */
footer {
  color: #d6d6d6;
  border-top: 1px solid #999999;
  background-color: #000;
  margin: 0;
  padding: 10px 0 0 0;
  height: 500px;
}
/* line 207, ../scss/main.scss */
footer a {
  color: #d6d6d6;
}
/* line 217, ../scss/main.scss */
footer h3 {
  color: white;
}
/* line 221, ../scss/main.scss */
footer #social-footer ul {
  list-style: none;
  margin: 0;
}

@media print {
  /* line 3, ../scss/print.scss */
  .no-print {
    visibility: hidden;
    display: none;
  }
}
