@import url(http://fonts.googleapis.com/css?family=Glegoo|Condiment|Pathway+Gothic+One|Nothing+You+Could+Do);

$bodyTextColour: #d6d6d6;
$tint: rgba(0,0,0,0.6);
$grey: #999999;
$white: #FFF;

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin fadeIn {
    opacity: 1;
    -webkit-transition: .5s ease-in 0.5s;
    -moz-transition: .5s ease-in 0.5s;
}

html {
    background-color: #000;
}

.row {
    max-width: 100% !important;
}

span.tags-label {
    font-family: 'Nothing You Could Do', cursive;
}

body {
    font-family: 'Glegoo', serif;
    color: $bodyTextColour;
    height: 100%;
    
    p,li {
        font-size: 14px;
    }

    a {
        color: $bodyTextColour;
    }

    article, .tags {
        a {
            color: #008cba;
            text-decoration: underline;
        }
    }
}

#main-menu {
    a.item label {
        color: #fff;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 20px;
    }
}

.sidebar.columns,
#content #grid .columns {
    padding-left: 0;
    padding-right: 10px;
    height: 100%;
}

#sidebar.page-loaded {

}

#content.page-loaded {
    
}

#content {
    background-color: $tint;
}

#sidebar {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    .columns {
        padding-right: 0;
        padding-left: 0;
    }

    hr {
        border-color: $grey;
    }

    #main-menu {
        margin-bottom: 10px;
        .item {
            text-align: center;
        }

        i {
            @include center;
            font-size: 28px;
        }
    }

    #social {
        
        a {
            font-size: 40px;
            display: block;
            margin: 10px auto;
            width: 100%;
            text-align: center;
        }

    }
}

#hero {
    min-height: 100%;
    background: url('../img/bw_background.jpg') no-repeat center center fixed;
    background-color: #000;
    background-size: cover;
    img#logo {
        margin-bottom: 20px;
        @include center;
    }
}

#grid {
    margin-top: 50px;
}

.grid-item {

    $item-padding: 20px;
    
    min-height: 300px;
    margin-bottom: 10px;
    min-width: 100%;

    img {
        min-width: 100%;
        min-height: 250px;
        margin-top: 10px;
    }

    h3 {
        margin-bottom: 0px;
        a{
            color: $white;
        }
    }

    p {
        padding: 0 0 $item-padding;
    }

    .date {
        padding: 10px 0 0 0px;
    }

    .tags {
        padding: 10px 0 10px 0;
        color: $white;
    }

    hr {
        margin: 0;
        padding: 0;
        border-color: #3d3d3d;
    }
}

article {

    margin-top: 20px;

    h2 {
        color: $white;
    }

    h3 {
        font-family: 'Nothing You Could Do', cursive;
        color: $white;
    }

    span.tags-label {
        font-family: 'Nothing You Could Do', cursive;
    }

    .article-feature {
        width: 100%;
    }
}

h3.article-body {
    font-family: 'Nothing You Could Do', cursive;
    color: $white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Pathway Gothic One', sans-serif;
    color: $bodyTextColour;
}

footer {
    a {
        color: $bodyTextColour;
    }
    color: $bodyTextColour;
    border-top: 1px solid $grey;
	background-color: #000;
    margin: 0;
    padding: 10px 0 0 0;
    height: 500px;

    h3 {
        color: $white;
    }

    #social-footer ul{
        list-style: none;
        margin: 0;
    }
} 